.env
.env.test
.env.local
docker-compose.override.yml
volumes/
shared/
supabase/
searxng/uwsgi.ini
searxng/settings.yml
toignore.txt
.env
volumes/
shared/
neo4j/
shared-backup/
.env.test
searxng/settings.yml
searxng/uwsgi*